<link rel="stylesheet" href="{{ '/assets/css/notifications.css' | relative_url }}">
<script src="{{ '/assets/js/notifications.js' | relative_url }}"></script>


{% for javascript in page.custom-js-list %}
    <script src="{{ javascript }}"></script>
{% endfor %}

{% for css in page.custom-css-list %}
    <link href="{{ css }}" rel="stylesheet">
{% endfor %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11053266-1"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-11053266-1');
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>


